@font-face {
   font-family: 'jf-openhuninn-2.0';
   font-display: swap;
   src: url('file:///Users/becky/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-03-10_205119/fonts/jf-openhuninn-2.0/font.ttf');
}
