@font-face {
   font-family: 'I.Ming-8.00';
   font-display: swap;
   src: url('file:///Users/becky/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2025-03-10_205119/fonts/I.Ming-8.00/font.ttf');
}
