@font-face {
   font-family: 'PMingI.UVar-8.00';
   font-display: swap;
   src: url('PMingI.UVar-8.00/font.ttf');
}
@font-face {
   font-family: 'I.Ming-8.00';
   font-display: swap;
   src: url('I.Ming-8.00/font.ttf');
}
@font-face {
   font-family: 'jf-openhuninn-2.0';
   font-display: swap;
   src: url('jf-openhuninn-2.0/font.ttf');
}
